body{
    background-color: blue;
    color: yellow;
}
h1{
  color: Black;
  margin-left: 500px;
}
ul {
    list-style-type: none;
    margin: 50px;
    padding: 10px;
    overflow: hidden;
    background-color: yellow;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: orange;
}
